.item-container{
    height: 53vh;
    width: 20rem;
    box-shadow: 1px 2px 4px;
    border-radius: 3px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.image-container{
    position: relative;
    object-fit: cover;
    background-size: cover;
    transition: all 0.2s linear;
    width: 100%;
    height: 40vh;
}
.about-items-container{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.service-name{
    height: 20px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.about-item{
    height: 85px;
    width: 100%;
    text-align: start;
    margin: 0;
    
}
.text {
    word-break: break-all;
    font-size: 13px;
    color: rgb(138, 138, 138);
}
label{
    font-size: 20;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(74, 74, 75);
    padding-top: 3px;
}
.image-container:hover{
    transform: scale(1.1);
    width: 100%;
    height: 40vh;
    color: #fff;
}
